<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link href="/css/chat.css"  rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1>Node js Chat Application</h1>
      <h3>Welcome {{username}}</h3>
    </header>
    <section>
      <div id="message_container">
        <div id="messagesList"></div>
        <form action="">
          <input id="userMessage" autocomplete="off" placeholder="Enter your message here"/><button>Send</button>
        </form>
      </div>
      <div id="user_container">

      </div>
    </section>
    <footer>
      <h4>Talent improving exercise, OFS</h4>
    </footer>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      socket.emit('connection');
      $('form').submit(function(){
      		var data = {};
      		data.message = $('#userMessage').val();
          socket.emit('chat message', data);
          $('#userMessage').val('');
            return false;
      });

      socket.on('chat message', function(data){

        var sout = '';
        sout += '<div class="message"><span class="user_name">';
        sout += data.username;
        sout += ':</span><span class="user_message">';
        sout += data.message;
        sout += '</span></div>';
        $('#messagesList').append(sout);
      });

      socket.on('old messages', function(messages) {
        var sout = '';
        messages.forEach(function(data) {
          sout += '<div class="message"><span class="user_name">';
          sout += data.username;
          sout += ':</span><span class="user_message">';
          sout += data.message;
          sout += '</span></div>';
        });
        $('#messagesList').append(sout);
      });

      socket.on('users online', function(users) {
        var sout = '';
        users.forEach(function(name) {
          sout += '<div><span>';
          sout += name;
          sout += '</span></div>';
        });
        $('#user_container').html(sout);
      });

    </script>
  </body>
</html>
