<!DOCTYPE html>
<html>
	<head>
		<link href="/css/index.css" rel="stylesheet"/>
	</head>
	<body>
		<header>
			<h1>Node js Chat Application</h1>
		</header>
		<section>
			<div id="container">
			<ul id="messages"></ul>
			<form action="/chat" method="POST">
				<input id="username"  name="username" autocomplete="off" placeholder="Enter a nickname for chat" />
				<button>Send</button>
			</form>
		</div>
		</section>
		<footer>
			<h4>Talent improving exercise, OFS</h4>
		</footer>
	</body>
</html>
